<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judge Panel</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="javascripts/judge.js"></script>
    <script src="socket.io.js"></script>
</head>
<body style="padding:4%">

<p>Your Code:<span id="logged"><%=judgecode%></span></p>
<div class="btn-group-justified" role="group" aria-label="...">
    <a href="/" class="btn btn-info">Spectator</a>
    <a href="/judge" class="btn btn-warning">Jugde</a>
    <a href="/admin" class="btn btn-danger">Admin</a>
    <a href="/login" class="btn btn-success">Account</a>


</div>


<!--<div id="Judge Login">-->
    <!--<div style="padding:20px" class="jumbotron">-->
        <!--<div class="text-center">-->
            <!--<div id="LoginInput">-->

                <!--<div class="form-group">-->
                    <!--<label for="codeInput">Enter judge unique code</label>-->
                    <!--<input style="margin: 0 auto;float: none;max-width: 250px;" type="text" class="form-control" id="codeInput">-->
                    <!--<button id="LoginButton" style="margin-top:10px" type="button btn-success" class="btn btn-default">Login</button>-->

                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
<!--</div>-->
    <!--</div>-->





<!-- ---------------------------------------->
<div id="sedziaContent">
    <div style="padding:3%" class="jumbotron">
        <div id="listaKoni">

            <h2 id="JudgeWarning" style="text-align: center;"></h2>
            <!--<h2 style="text-align: center;">Judge Code:</h2>-->
            <!--<h2 style="text-align: center;" id="LoggedAS"></h2>-->

            <div style="margin-top:20px;padding:20px" class="navbar navbar-default">
                <h3 style="text-align: center;">Actual Horse Under Rating</h3>
                <div class="table-responsive">
                <table id="JudgeTable" class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th hidden  >Tournament</th>
                        <th hidden  >City</th>
                        <th hidden  >Groups</th>
                        <th hidden  >ActualGroup</th>
                        <th class="col-md-1">Horse</th>
                        <th class="col-md-1">Type</th>
                        <th class="col-md-1">Head</th>
                        <th class="col-md-1">Clog</th>
                        <th class="col-md-1">Legs</th>
                        <th class="col-md-1">Move</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>



                    </tr>


                    </tbody>
                </table>
            </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>