extends layout

block content
    .container.jumbotron
        h1 Registration
        p.lead Registration for new Admin.
        br
        form(id="formsLogin" role='form', action="/register",method="post", style='max-width: 23%;')
            .form-group
                input.form-control(type='text', name="username", placeholder='User')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            .form-group
                select.form-control(type='text', name="role", placeholder='Role')
                    option admin
                   // option judge


            button.btn.btn-success(type='submit' style="margin: 10px; margin-left: -5px;") Submit
            a.btn.btn-danger(href="/" type="button") Cancel
